@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)
  .header
    &__control
      padding: 0 20px
    &__lk
      padding: 0 20px
//Large: ≥992px
+media-breakpoint-down(lg)


//Medium: ≥768px
+media-breakpoint-down(md)
  .header
    padding-left: 5px
    padding-right: 5px
    &__control
      justify-content: space-between
    &__menu
      display: none
    &__logo
      padding: 0
      img
        width: 81px
        height: 59px
    &__contact
      font-size: 14px
  .controls
    justify-content: space-between
  .header__nav
    padding: 0
  .mob-menu
    box-sizing: border-box
    padding-left: 10px
    display: block
  &__content
    display: flex
    justify-content: center
    width: 100%
  .left-menu
    display: none
  .footer
    &__about
      text-align: center
      padding: 10px
  .content__menu
    display: block
  .good
    &__count
      justify-content: flex-end
      input
        margin-left: 10px
  .news
    &__title
      padding-top: 15px
      padding-bottom: 5px
  .basket
    &__item
      border: none
    &__title
      display: none
    &__title-mob
      display: block
      padding-top: 0
    &__good-name
      font-size: 14px
    &__breadcrumbs
      margin-bottom: 0
  .cashback
    &__text
      width: 100%
    &__image
      img
        width: 100%
  .full-page
    &__image
      width: 100%
    &__text
      width: 100%
      font-size: 14px
    &__title
      font-size: 16px
  .content__title
    font-size: 18px
  .reg
    .title__data
      display: none
    .title__data-mob
      display: block
//Small: ≥576px
+media-breakpoint-down(sm)
  .header
    padding-left: 5px
    padding-right: 5px
    &__control
      justify-content: flex-end
    &__menu,&__link_fill,&__link_inv,&__lk
      display: none
    &__logo
      padding: 0
      img
        width: 81px
        height: 59px
    &__contact
      font-size: 14px
  .header__nav
    padding: 0
  .mob-menu
    padding-left: 10px
  .footer
    &__contact
      font-size: 12px
    &__pay
      padding: 0
    &__title
      padding-left: 0
      padding-top: 20px
  .mobail-menu
    &__list
      padding: 10px 0
      display: flex
      flex-direction: column
      text-align: center
      list-style-type: none
      justify-content: space-between
  .show-small
    display: block
  .content
    &__banner
      padding: 10px
      padding-right: 25px
      .banner__link
        font-size: 6px
      .banner__title
        font-size: 18px
      .banner__close
        right: 5px
        top: 5px
        button
          img
            width: 14px
            height: 14px
      .banner__btn a
        padding: 5px 10px
        font-size: 10px
      .content__banner
        padding: 10px
      .banner__image img
        width: 60px
    .catalog
      &__item
        flex-direction: column
        justify-content: flex-start
      &__image
        flex-grow: 1
        padding-right: 5px
        box-sizing: border-box
      &__dec
        padding-left: 5px
        flex-grow: 3
      &__title a
        font-size: 16px
      &__price
        font-size: 18px
    .contact
      display: block
    .basket
      &__option
        margin-top: 20px
      &__result
        text-align: left


//Extra small: >0
+media-breakpoint-down(xs)
  .header
      padding: 0
      &__logo
        width: 100%
        padding: 10px
        padding-right: 0
        box-sizing: border-box
        img
          max-width: 61px
          height: auto
  .content
    &__search
      input[type="text"]
        font-size: 11px
    &__menu-btn
      font-size: 11px
    &__search-btn
      top: 5px
      right: 25px
  .content
    &__banner
      .banner__title
        font-size: 10px



/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
