@import "vars"
//@import "fonts"
@import "libs"

::placeholder
	color: #666



html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	display: flex
	flex-direction: column
	height: 100%
	a:hover
		text-decoration: none
	ul
		list-style-type: none
		padding-left: 0
		margin-bottom: 0
	p:last-child
		margin-bottom: 0
	input, textarea
			border: #666 1px solid
			outline: none
			&:focus:required:invalid
				border-color: transparent
			&:required:valid
				border-color: transparent

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

.text-right
	text-align: right

.hide
	display: none

// Header

.header
	padding: 20px 0
	&__logo img
		width: 99px
		height: 73px
	&__menu
		box-sizing: border-box
		flex-grow: 1
		padding: 0 30px
		ul
			list-style-type: none
			padding: 0
			margin: 0
			li
				a
					text-decoration: none
					text-transform: uppercase
					color: #0b0b0b
					font-weight: bold
					&:hover
						color: #ae0001
						border-bottom: 1px solid #ae0001
	&__contact
		text-align: center
		a
			color: #0b0b0b
			font-weight: bold
	&__time
		font-size: 12px
		color: #6f6f6f
		font-weight: 400
	&__control
		width: 100%
	&__cart
		position: relative
		img
			width: 30px
			height: 32px
	&__link
		color: #ae0001
		font-size: 14px
		font-weight: 500
		border-bottom: 1px solid #ae0001
		text-decoration: none
		margin-top: 5px
		&:hover
			color: #ae0001
			text-decoration: none
		&_fill
			background-color: #ae0001
			color: #ffffff
			padding: 5px 10px
			font-size: 14px
			font-weight: 500
			border-radius: 3px
			&:hover
				color: #ffffff
				text-decoration: none
		&_inv
			background-color: #df9999
			color: #ae0001
			padding: 5px 10px
			font-size: 14px
			font-weight: 500
			border-radius: 3px
			&:hover
				color: #ae0001
				text-decoration: none
.cart__count
	position: absolute
	background-color: #ae0001
	font-size: 11px
	color: #ffffff
	padding: 0 5px
	right: 0
	border-radius: 15px

.mob-menu
	display: none
	button
		border: none
		background: none
		padding: 0
		outline: none
		cursor: pointer
	img
		width: 30px

// Baner

.banner
	padding-top: 30px
	padding-bottom: 30px
	&__content
		max-width: 1140px
		margin: 0 auto
		width: 100%
		img
			width: 100%
			height: auto

.main
	display: block
	flex-grow: 1
	flex-shrink: 0
	flex-basis: auto

// Мобильное меню
.show-small
	display: none
.mobail-menu
	.container
		background-color: #ae0001
	&__list
		padding: 10px 0
		display: flex
		list-style-type: none
		justify-content: space-between
		margin: 0
		li
			padding: 5px
		a
			color: #ffffff
			display: block

//Левое меню

.left-menu
	&__filter
		border: 1px solid #dddddd
		margin-bottom: 15px
		border-radius: 4px
		padding: 20px
		padding-right: 40px
		#range
			border: none
			height: 3px
			background-color: #E8E8E8
		.ui-slider-range
			background-color: #ae0001
		.ui-slider-handle
			background: url("./../img/arb.svg")
			background-size: cover
			border: none
			outline: none
			margin-top: 5px
			cursor: pointer
		.filter__title
			color: #0b0b0b
			font-size: 18px
			font-weight: 500
		.filter__controls
			display: flex
			justify-content: space-between
			align-items: center
			margin-bottom: 15px
		.filter__min
			width: 60px
			border: 1px solid #dddddd
			padding: 5px
			text-align: center
		.filter__max
			width: 87px
			border: 1px solid #dddddd
			padding: 5px
			text-align: center
		.filter__category
			padding-top: 20px
			.category__title
				cursor: pointer
				display: flex
				justify-content: space-between
				align-items: center
				&:after
					content: ''
					background: url("../img/arrow-down.svg")
					background-size: cover
					display: inline-block
					width: 8px
					height: 6px
					padding: 3px
					box-sizing: border-box
					vertical-align: middle
			ul
				padding: 0
				margin: 0
				list-style-type: none
				padding-left: 10px
				a
					color: #ae0001
	&__search
		margin-bottom: 15px
		input[type="text"]
			padding: 11px
			font-weight: 400
			font-size: 18px
			width: 100%
			border-radius: 4px
			border: #dddddd 1px solid
			position: relative
			padding-right: 60px
			&::placeholder
				color: #8f8f8f
	&__search-btn
		border: none
		background-color: transparent
		width: 25px
		padding: 4px
		position: absolute
		top: 10px
		right: 45px
		z-index: 99
		&:focus
			outline: none
		&:hover
			cursor: pointer
	&__category
		border: 1px solid #dddddd
		margin-bottom: 15px
		border-radius: 4px
		ul
			padding: 0
			margin: 0
		&-item
			transition: .5s
			&:hover
				background-color: #ecf0f1
				transition: .5s
			border-bottom: 1px solid #dddddd
			width: 100%
			padding: 20px
			display: block
			&:last-child
				border: none
	&__contact
		margin-bottom: 15px
		&__title
			font-size: 18px
			color: #0b0b0b
			font-weight: 400
	.left-menu__text
		border-radius: 2px
		margin-top: 5px
		margin-bottom: 5px
		border: 1px solid #dddddd
		width: 240px
		padding: 7px 12px
		&::placeholder
			color: #8f8f8f
			font-size: 16px
			font-weight: 400
	.left-menu__btn
		display: block
		padding: 10px 40px
		border-radius: 4px
		background-color: #ae0001
		color: #ffffff
		font-size: 16px
		font-weight: 400
		border: none
		margin: 5px 0
		&:focus
			outline: none
		&:hover
			cursor: pointer
	.category-item
		&__image img
			width: 28px
		&__name
			color: #0b0b0b
			vertical-align: middle
			font-weight: 400
			padding-left: 15px
			&:hover
				text-decoration: none
		&:hover
			background-color: #dddddd



//Footer

.footer
	flex-grow: 0
	flex-shrink: 0
	flex-basis: auto

	margin-top: 125px
	color: #ffffff
	background-color: #320000
	padding: 42px 0
	&__menu
		list-style-type: none
		margin: 0
		padding: 0
		a
			color: #dddddd
			font-size: 14px
			font-weight: 400
			line-height: 22px
			text-decoration: underline
	&__contact
		a
			color: #dddddd
	&__title
		padding-left: 10px
		padding-bottom: 5px
	&__pay
		display: flex
		justify-content: space-between
		padding: 0 10px
		.footer__pay-item
			display: block
			background-color: #ffffff
			padding: 2px 10px
			img
				width: 30px


// Content

.content
	&__banner
		position: relative
		background-color: #ae0001
		border-radius: 10px
		padding: 20px 15px
		padding-right: 80px
		display: flex
		justify-content: space-between
		.banner__close
			position: absolute
			right: 10px
			top: 10px
			button
				background: none
				border: none
				cursor: pointer
				&:focus
					outline: none
				img
					width: 18px
					height: 18px
		.banner__title
			font-size: 21px
			font-weight: 400
			color: #ffffff
		.banner__btn a
			padding: 10px 15px
			background-color: #ffffff
			display: inline-block
			color: #0b0b0b
			font-size: 14px
			font-weight: 400
			margin-top: 15px
	&__menu
		display: none
		margin-top: 10px
		margin-bottom: 10px
	&__search
		input[type="text"]
			padding: 11px
			font-weight: 400
			font-size: 18px
			width: 100%
			border-radius: 4px
			border: #dddddd 1px solid
			position: relative
			padding-right: 40px
			&::placeholder
				color: #8f8f8f
	&__search-btn
		border: none
		background-color: transparent
		width: 25px
		padding: 4px
		position: absolute
		top: 10px
		right: 25px
		z-index: 99
		&:focus
			outline: none
		&:hover
			cursor: pointer
	&__menu-btn
		padding: 10px
		border-radius: 4px
		background-color: #ae0001
		border: none
		color: #ffffff
		font-size: 16px
		font-weight: 500
		display: block
		&:focus
			outline: none
	&__category
		display: none
		background-color: #ae0001
		margin-top: 10px
		margin-bottom: 10px
		padding: 0 10px
		&-list
			padding: 10px 0
			display: flex
			list-style-type: none
			justify-content: space-between
			flex-direction: column
			text-align: center
			margin: 0
			li
				padding: 5px
			a
				color: #ffffff
				display: block
	&__title
		color: #0b0b0b
		font-size: 30px
		font-weight: 500
		padding-top: 10px
		padding-bottom: 5px
	&__subtitle
		color: #0b0b0b
		font-size: 18px
		font-weight: 500
		padding-bottom: 5px
	.selectPO
		&__list
			display: flex
			flex-wrap: wrap
			justify-content: flex-start
		&__item
			padding: 10px
			box-sizing: border-box
			a
				border: 1px solid #dddddd
				display: block
				img
					height: 30px
					margin: 10px
	.clients__list
		list-style-type: none
		display: flex
		flex-wrap: wrap
		justify-content: flex-start
		padding: 0
		margin: 0
		margin-bottom: 10px
		a
			display: block
			img
				height: 30px
				margin: 10px
	.certificate__item
		outline: none

// Страница каталога
.breadcrumbs
	margin: 0
	padding: 0
	margin-bottom: 15px
	display: flex
	list-style-type: none
	justify-content: flex-start
	flex-wrap: wrap
	li
		margin-right: 5px
		a
			color: #ae0001
			font-weight: 400
			text-decoration: underline
		&:after
			margin-left: 5px
			content: '»'
		&:nth-last-child(1):after
			content: ''

.content
	&__maker-list
		list-style-type: none
		display: flex
		padding-left: 0
		margin-bottom: 50px
		flex-wrap: wrap
		li a
			color: #0b0b0b
			line-height: 24px
			font-weight: 400
			text-decoration: underline
		li:nth-child(odd)
			flex-basis: 20%
		li:nth-child(even)
			flex-basis: 80%

	.sort
		select
			outline: none
	.catalog
		&__item
			display: flex
			justify-content: space-between
			align-items: flex-start
			padding: 40px 0
			border-bottom: 1px solid #dddddd
		&__information
			display: flex
		&__image
			width: 82px
			img
				min-width: 100%
		&__dec
			padding-left: 20px
		&__title a
			color: #ad0000
			font-size: 18px
			font-weight: 500
			line-height: 24px
			text-decoration: underline
		&__star
			padding-top: 5px
		&__price
			color: #0b0b0b
			font-size: 24px
			font-weight: 500
		&__dec-list
			ul
				padding-left: 0
				list-style-type: none
				font-size: 14px
				color: #0b0b0b
				span
					color: #a4a4a4
					margin-right: 5px
		&__btn
			margin-top: 10px
			align-self: center
			a
				background-color: #ae000a
				border-radius: 4px
				padding: 10px 24px
				font-weight: 400
				font-size: 16px
				color: #ffffff
				display: block

	.contact
		margin-top: 20px
		margin-bottom: 15px
		display: none
		&__title
			font-size: 18px
			color: #0b0b0b
			font-weight: 400
		&__text
			border-radius: 2px
			margin-top: 5px
			margin-bottom: 5px
			border: 1px solid #dddddd
			width: 100%
			padding: 7px 12px
			&::placeholder
				color: #8f8f8f
				font-size: 16px
				font-weight: 400
		&__btn
			display: block
			padding: 10px 40px
			border-radius: 4px
			background-color: #ae0001
			color: #ffffff
			font-size: 16px
			font-weight: 400
			border: none
			margin: 5px 0
			&:focus
				outline: none
			&:hover
				cursor: pointer

// Страница товара

.good
	&__slider
		margin: 40px 0
		display: flex
		flex-direction: column
		align-items: center
		.slider__main-image
			margin-bottom: 15px
			height: 200px
			display: flex
			img
				display: block
				margin: auto
				max-width: 230px
				max-height: 100%
		.slider__list
			list-style-type: none
			display: flex
			flex-direction: row
			padding-left: 0
			margin-bottom: 10px
			li
				cursor: pointer
				padding: 15px
				box-sizing: border-box
				border: 1px solid #dddddd
				margin-left: 15px
				&:last-child
					margin-right: 0
				img
					width: 31px
	&__information
		padding-top: 45px
	&__old-price
		color: #c6c6c6
		font-size: 18px
		font-weight: 400
		text-decoration: line-through
		line-height: 28px
	&__new-price
		color: #0b0b0b
		font-size: 30px
		font-weight: 500
		margin-bottom: 5px
	&__cashback
		color: #ae0001
		font-size: 18px
		font-weight: 400
	&__count
		display: flex
		justify-content: space-between
		align-items: center
		input
			width: 30px
			text-align: center
	&__btn-basket
		cursor: pointer
		margin-top: 10px
		padding: 15px 30px
		background-color: #ae0001
		border-radius: 4px
		color: #ffffff
		font-size: 16px
		font-weight: 400
		outline: none
		border: none
		display: inline-block
	&__dec
		margin-top: 40px
	&__dec-title
		background-color: #dddddd
		padding: 15px 0
		text-align: center
		color: #0b0b0b
	&__dec-next
		display: block
		background-color: #ae0001
		padding: 15px 0
		text-align: center
		color: #ffffff
		&:hover
			color: #ffffff
	&__dec-info
		border: 1px solid #dddddd
		border-bottom: none
		padding: 20px
		p
			&:last-child
				margin-bottom: 0
		ul
			padding-left: 0
			margin-bottom: 0

.news
	&__item
		display: flex
		margin-bottom: 35px
		&:last-child
			margin-bottom: 0
		.row
			align-items: center
	&__image
		img
			max-width: 100%
			min-height: 150px
	&__title a
		color: #ae0001
		font-size: 18px
		font-weight: 500
		text-decoration: underline
	&__text
		color: #0b0b0b
		font-size: 14px
		font-weight: 400

.basket
	&__title
		color: #bababa
		font-size: 14px
		text-transform: uppercase
		font-weight: 500
		border-bottom: 1px solid #dddddd
		padding: 18px 0
	&__title-mob
		display: none
		color: #bababa
		font-size: 14px
		text-transform: uppercase
		font-weight: 500
		padding: 18px 0
	&__item
		padding: 20px 0
		border-bottom: 1px solid #dddddd
	&__good
		display: flex
	&__count
		color: #bababa
	&__breadcrumbs
		color: #ababab
		font-size: 14px
	&__image
		width: 150px
		img
			max-width: 150%
	&__result
		text-align: right
		margin-top: 30px
		.result__sum
			color: #0b0b0b
			font-size: 24px
			font-weight: 500
		.result__cashback
			color: #ae0001
			font-size: 18px
			font-weight: 500
	&__controls
		margin-top: 60px
		display: flex
		text-align: center
		flex-direction: column
	&__btn-fill
		display: inline-block
		margin: 0 auto
		padding: 15px 40px
		border-radius: 2px
		background-color: #ae0001
		color: #ffffff
		font-weight: 500
		font-size: 18px
		&:hover
			color: #ffffff
	&__btn
		color: #ae0001
		font-weight: 500
		font-size: 18px
		text-decoration: underline
		margin-top: 30px
		&:hover
			color: #ae0001

.cashback
	&__item
		margin-bottom: 40px
	&__image
		padding-top: 10px
		padding-bottom: 10px
		img
			max-width: 300px
	&__title
		color: #0b0b0b
		font-size: 18px
		font-weight: 500
	&__text
		width: 60%
		font-size: 14px


.full-page
	&__image
		width: 50%
		margin-bottom: 30px
		margin-top: 10px
		img
			max-width: 100%
	&__title
		color: #0b0b0b
		font-size: 18px
		font-weight: 500
		margin-bottom: 15px
	&__text
		color: #0b0b0b
		font-size: 14px
		font-weight: 400
		width: 60%
.reg
	.content__title
		margin-bottom: 30px
	.require
		color: red
	label
		color: #0b0b0b
		font-size: 12px
		font-weight: 500
	.reg__text
		border-radius: 4px
		border: 1px solid #dddddd
		background-color: #ffffff
		width: 100%
		margin-bottom: 30px
		padding: 2px 10px
		&-label
			border-radius: 4px
			border: 1px solid #dddddd
			background-color: #ffffff
			width: 100%
			padding: 2px 10px
	.cap
		margin-bottom: 30px
		img
			max-width: 100%
	&__btn
		color: #ffffff
		font-size: 18px
		font-weight: 500
		padding: 20px 35px
		border: none
		border-radius: 4px
		cursor: pointer
		background-color: #ae0001
	&__if a
		color: #ae0001
		text-decoration: underline
		&:hover
			text-decoration: underline
	input[type="checkbox"]
		margin-right: 10px
		margin-top: 5px
	.title__data-mob
		display: none
		margin-top: 35px

@import "media" // Always at the end
